<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.sns.modules.sys.repository.MenuRepository">
	
	<insert id="insert" parameterType="net.parim.sns.modules.sys.entity.Menu">
		insert into sys_menu(
			parent_id,
			parent_ids,
			name,
			sort,
			url,
			target,
			icon,
			is_show,
			permission
		) values(
			#{parent.id},
			#{parentIds},
			#{name},
			#{sort},
			#{url},
			#{target},
			#{icon},
			#{isShow},
			#{permission}
		)
	</insert>
	
	<update id="update" parameterType="net.parim.sns.modules.sys.entity.Menu">
		update sys_menu set
			parent_id = #{parent.id},
			parent_ids = #{parentIds},
			name = #{name},
			sort = #{sort},
			url = #{url},
			target = #{target},
			icon = #{icon},
			permission = #{permission}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete sys_menu where id=#{id} or parent_ids like '%,'||#{id}||',%' and id&lt;&gt;1
	</delete>
	
	<select id="findOne" parameterType="long" resultType="net.parim.sns.modules.sys.entity.Menu">
		select a.id,
			a.parent_id as "parent.id",
			a.parent_ids,
			a.name,
			a.sort,
			a.url,
			a.target,
			a.icon,
			a.is_show,
			a.permission,
			p.name as "parent.name"
		from sys_menu a
			left join sys_menu p on a.parent_id = p.id
		where a.id = #{id}
	</select>
	
	<select id="findAll" resultType="net.parim.sns.modules.sys.entity.Menu">
		select id,
			parent_id as "parent.id",
			parent_ids,
			name,
			sort,
			url,
			target,
			icon,
			is_show,
			permission
		from sys_menu
		order by sort
	</select>
</mapper>