<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.sns.modules.sys.repository.PermissionTargetRepository">
	
	
	<!-- ResultMap 可以查成对象 -->
	<select id="findRoots" parameterType="map" resultType="PermissionTarget">
	select roots.target_id as id,
		ifnull(g.name, s.name) as name,
		target as "objectType",
		1 as child_count,
		ifnull(S.is_deleted, '0') as is_deleted
	from 
		(select target_id, target
		 from user_privilege_view ROOT
		 where ROOT.user_id = #{0.id}
		   and target in ('S','O')
		) roots 
		left join site s on s.id = roots.target_id
		left join user_group g on g.id = roots.target_id
	where roots.target_id not in (
		select child_id
		from tree_xref X, user_privilege_view P
		where P.user_id = #{0.id}
		  and P.target_id = X.parent_id 
		  and X.tree_type = 'P'
		  and X.child_object_type in ('S','O')
		  and X.distance > 0)
	</select>
	
	<select id="findChildren" parameterType="PermissionTarget" resultType="PermissionTarget">
	SELECT ifnull(G.id,S.id) AS ID, X.child_object_type AS "objectType",
		X.child_count AS CHILD_COUNT, 
		ifnull(G.name,S.name) AS NAME, 
		ifnull(S.parent_id,ifnull(G.parent_id,G.site_id)) AS PARENT_ID,
		ifnull(S.is_deleted, '0') as is_deleted
	FROM TREE_XREF X
		left join site s on s.id = x.child_id
		left join user_group g on g.id = x.child_id
	WHERE X.parent_id=#{0.id}
	  and X.tree_type='P' 
	  and X.child_object_type in ('S','O')
	  and X.distance=1
	</select>

</mapper>