<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.sns.modules.sys.repository.RoleRepository">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="net.parim.sns.modules.sys.entity.Role">
		INSERT INTO `admin_role` (
			`name`,
			`site_id`,
			`targets`,
			`is_superuser`,
			created_by,
			create_date,
			last_updated_by,
			last_update_date
		)
		VALUES
			(
				#{name},
				#{site.id},
				#{targets},
				#{isSuperuser},
				#{createdBy.id},
				now(),
				#{lastUpdatedBy.id},
				now()
			)
	</insert>
	
	<update id="update" parameterType="net.parim.sns.modules.sys.entity.Role">
		update `admin_role` set
			`name`=#{name},
			<!-- `site_id`=#{site.id}, -->
			`targets`=#{targets},
			`is_superuser`=#{isSuperuser},
			#{lastUpdatedBy.id},
			now()
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete `admin_role` where id = #{id}
	</delete>
	
	<select id="findOne" parameterType="long" resultType="net.parim.sns.modules.sys.entity.Role">
		select r.`id`,
			r.`name`,
			r.`site_id` as "site.id",
			r.`targets`,
			r.`is_superuser`,
			r.created_by  as "createdBy.id",
			r.create_date,
			r.last_updated_by as "lastUpdatedBy",
			r.last_update_date,
			s.name as "site.name",
			uc.username as "createdBy.username",
			uc.first_name as "createdBy.firstName",
			uc.last_name as "createdBy.lastName",
			ul.username as "lastUpdatedBy.username",
			ul.first_name as "lastUpdatedBy.firstName",
			ul.last_name as "lastUpdatedBy.lastName"
		from `admin_role` r
			left join site s on s.id = r.site_id
			left join ila_user uc on uc.id = r.created_by
			left join ila_user ul on ul.id = r.last_updated_by
		where r.id = #{id}
	</select>
	
	<select id="findAll" resultType="net.parim.sns.modules.sys.entity.Role">
		select r.`id`,
			r.`name`,
			r.`site_id` as "site.id",
			r.`targets`,
			r.`is_superuser`,
			r.created_by  as "createdBy.id",
			r.create_date,
			r.last_updated_by as "lastUpdatedBy",
			r.last_update_date,
			s.name as "site.name",
			uc.username as "createdBy.username",
			uc.first_name as "createdBy.firstName",
			uc.last_name as "createdBy.lastName",
			ul.username as "lastUpdatedBy.username",
			ul.first_name as "lastUpdatedBy.firstName",
			ul.last_name as "lastUpdatedBy.lastName"
		from `admin_role` r
			left join site s on s.id = r.site_id
			left join ila_user uc on uc.id = r.created_by
			left join ila_user ul on ul.id = r.last_updated_by
		<where>
			1=1
			<if test="name != null and name != ''">
				and r.name like concat('%',#{name},'%')
			</if>
		</where>
	</select>
	
</mapper>