<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.sns.modules.sys.repository.UserRepository">

	<insert id="insert" parameterType="net.parim.sns.modules.sys.entity.User">
		insert into `sns_user`(username, password, email)
		values (#{username}, #{password}, email)
	</insert>
	
	<update id="update" parameterType="net.parim.sns.modules.sys.entity.User">
		update `sns_user` set
		username = #{username}
		password = #{password}
		eamil = #{email}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete `sns_user` where id = #{id}
	</delete>
	
	<select id="findOne" parameterType="long" resultType="net.parim.sns.modules.sys.entity.User">
		select id, username, password, email from `sns_user` where id = #{id}
	</select>
	
	<select id="findAll" resultType="net.parim.sns.modules.sys.entity.User">
		select id, username, password, email from `sns_user`
	</select>
	
	<select id="findUserByUsername" parameterType="string" resultType="net.parim.sns.modules.sys.entity.User">
		select id, username, password, email from `sns_user` where username = #{username}
	</select>
	
</mapper>