<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.sns.modules.prefecture.repository.PrefectureRepository">
	
	<insert id="insert" parameterType="net.parim.sns.modules.prefecture.entity.Prefecture">
	insert into `pre_prefecture` ( 
		`is_choice`, 
		`start_date`, 
		`category_id`, 
		`is_publish`, 
		`intro`, 
		`end_date`, 
		`name`, 
		`state`,
		`thumbnails`,
		`static_url`) 
	values ( #{isChoice}, 
		#{startDate}, 
		#{category.id}, 
		#{isPublish},
		#{intro}, 
		#{endDate},
		#{name},
		#{state},
		#{thumbnails},
		#{staticUrl})
	</insert>
	
	<update id="update" parameterType="net.parim.sns.modules.prefecture.entity.Prefecture">
	update `pre_prefecture` set
		`is_choice` = #{isChoice}, 
		`start_date` = #{startDate}, 
		`category_id` = #{category.id}, 
		`is_publish` = #{isPublish},
		`intro` = #{intro}, 
		`end_date` = #{endDate}, 
		`name` = #{name},
		`state` = #{state},
		`thumbnails` = #{thumbnails},
		`static_url` = #{staticUrl}
	where id=#{id}
	</update>
	
	<delete id="delete" parameterType="long">
	delete `pre_prefecture` where id = #{id}
	</delete>
	
	<select id="findOne" parameterType="long" resultType="net.parim.sns.modules.prefecture.entity.Prefecture">
		select `is_choice`, 
			`start_date`, 
			`category_id` as "category.id",
			c.`name` as "category.name",
			`is_publish`,
			`intro`, 
			`end_date`, 
			p.`name`, 
			`state`,
			`thumbnails`,
			`static_url`
		from pre_prefecture p left join pre_category c on p.category_id = c.id
		where p.id = #{id}
	</select>
	
	<select id="findAll" parameterType="net.parim.sns.modules.prefecture.entity.Prefecture" resultType="net.parim.sns.modules.prefecture.entity.Prefecture">
		select `is_choice`, 
			`start_date`, 
			`category_id` as "category.id",
			c.`name` as "category.name",
			`is_publish`,
			`intro`, 
			`end_date`, 
			p.`name`, 
			`state`,
			`thumbnails`,
			`static_url`
		from pre_prefecture p left join pre_category c on p.category_id = c.id
		<where>
			<if test="name != null and name != ''">
				name like concat('%',#{name},'%')
			</if>
			<if test="state !=null and state !=''">
				p.state = #{state}
			</if>
		</where>
	</select>

	<select id="getChoicenessList" resultType="net.parim.sns.modules.prefecture.entity.Prefecture">
		`is_choice`, 
			`start_date`, 
			`category_id` as "category.id",
			c.name as "category.name",
			`is_publish`, 
			`intro`, 
			`end_date`, 
			p.`name`, 
			`state`,
			`thumbnails`,
			`static_url`
		from pre_prefecture p left join pre_category c on p.category_id = c.id
		where p.state='en'
	</select>
	
	<select id="getDepartmentalList" resultType="net.parim.sns.modules.prefecture.entity.Prefecture">
		select id, name, intro description, logo_path thumbnail
		from sns_group g
		where g.type='P'
		<!-- and rownum &lt; #{size} -->
	</select>
	
</mapper>